<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>DICHE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link href='static/css/googlefont.css' rel='stylesheet' type='text/css' />
    <link href='static/css/diche.css' rel='stylesheet' type='text/css' />
    <!-- Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="static/images/fav/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/images/fav/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/images/fav/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/images/fav/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="static/images/fav/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="static/images/fav/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="static/images/fav/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="static/images/fav/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="static/images/fav/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="static/images/fav/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="static/images/fav/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="static/images/fav/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="static/images/fav/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="static/images/fav/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="static/images/fav/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="static/images/fav/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="static/images/fav/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="static/images/fav/mstile-310x310.png" />

    <!-- jQueryUI's css-->
    <link rel="stylesheet" href="static/jqueryui/dist/jquery-ui.css">

    <!-- Swiper's CSS -->
    <link rel="stylesheet" href="static/swiper/dist/css/swiper.min.css">

    <!-- jPlayer's CSS -->
    <link href="static/jplayer/dist/css/flat.audio.css" rel="stylesheet" type="text/css" />
    <link href="static/jplayer/dist/css/flat.video.css" rel="stylesheet" type="text/css" />

    <!-- jQuery's script -->
    <script type="text/javascript" src="static/jquery/dist/js/jquery.js"></script>

    <!-- jQueryUI's script -->
    <script type="text/javascript" src="static/jqueryui/dist/jquery-ui.js"></script>

    <!-- Swiper JS -->
    <script type="text/javascript" src="static/swiper/dist/js/swiper.min.js"></script>

    <!-- jPlayer's scripts -->
    <script type="text/javascript" src="static/jplayer/dist/js/jquery.jplayer.js"></script>

    <!-- Dropbox Chooser -->
    <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="fp5bz1y1nibyilj"></script>
</head>
